<!-- start date, end date, name, description-->
<div>

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 card shadow">
      <h3>Create Survey</h3>
      <form name="form" novalidate>
        <div class="form-group">
          <label>Survey type:</label>
          <br />
          <label class="radio-inline">
            <input type="radio" ng-model='vm.survey.type' name="inlineRadioOptions" id="inlineRadio1" value="360"> 360 Survey
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model='vm.survey.type' name="inlineRadioOptions" id="inlineRadio2" value="motivation"> Motivation Survey
          </label>
        </div>
        <div class="form-group">
          <label>Name:</label>
          <input type="text" class="form-control" ng-model="vm.survey.title" name="title" required="" />
          <div ng-show="form.$submitted || form.title.$touched">
            <div ng-show="form.title.$error.required">Survey should have a name.</div>
          </div>
        </div>
        <div class="form-group">
          <label>Description:</label>
          <textarea class="form-control" rows="3" ng-model="vm.survey.description" name="description" required=""></textarea>
          <div ng-show="form.$submitted || form.description.$touched">
            <div ng-show="form.description.$error.required">Short description needed.</div>
          </div>
        </div>
        <div class="form-group">
          <label>Survey date:</label>
          <div class="input-daterange input-group" id="datepicker">
            <input type="text" class="input-sm form-control" name="start" ng-model="vm.survey.startAt" required/>
            <span class="input-group-addon"> to </span>
            <input type="text" class="input-sm form-control" name="end" ng-model="vm.survey.endAt" required/>
          </div>
          <div ng-show="form.$submitted || form.start.$touched">
            <div ng-show="form.start.$error.required || form.end.$error.required">Please spedify the survey start/end date.</div>
          </div>
        </div>
        <div class="form-group" ng-show='vm.survey.type!=360'>

          <div class="topic-container" ng-repeat='topic in vm.survey.topics track by $index'>
            <div class="form-group">
              <input placeholder="Topic" type="text" class="form-control" ng-model="topic.name" name="question" />
            </div>

              <div class="question" ng-repeat='question in topic.questions track by $index'>
                <div class="form-group">
                  <input placeholder="Question" type="text" class="form-control" ng-model="question.name" name="question" />
                </div>
                <div class="responses form-group">
                  <div class="form-group" ng-repeat='responce in question.responses track by $index'>
                    <div class="form-inline">
                      <div class="form-group col-sm-10">
                        <input placeholder="Response" type="text" class="form-control" ng-model="responce.text" name="name"/>
                      </div>
                      <div class="form-group col-sm-2">
                        <input placeholder="weight" type="number" class="form-control" ng-model="responce.weight" name="name"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-warning" ng-click='vm.addResponce(topic, $index)'>Add responce</button>
                </div>
              </div>

                <div class="form-group">
                  <button type="button" class="btn btn-primary" ng-click='vm.addQuestion($index)'>Add question</button>
                </div>
            </div>
          </div>
        <div class="form-group" ng-show='vm.survey.type==360'>
          <div class="form-group rule-container" ng-repeat='rule in vm.survey.rules track by $index'>

            <div class="form-group">
              <label>Who can do this survey:</label>
              <select class="form-control" ng-options="option.title for option in rule.whoOptions track by option.value"
                ng-model="rule.who"></select>
              <!--
              <div
                isteven-multi-select
                input-model="rule.whoOptions"
                output-model="rule.who"
                button-label="title"
                item-label="title"
                tick-property="ticked"
                selection-mode="single"
            >
              </div>
            -->
            </div>

            <div class="form-group">
              <label>Who should they rate:</label>
              <select class="form-control" ng-options="option.title for option in rule.whomOptions track by option.title"
                ng-model="rule.whom"></select>
              <!--
              <div
                isteven-multi-select
                input-model="rule.whomOptions"
                output-model="rule.whom"
                button-label="title"
                item-label="title"
                tick-property="ticked"
                selection-mode="single"
            >
              </div>
            -->
            </div>

          </div>

          <div class="form-group" ng-show='vm.survey.type==360'>
            <button type="button" class="btn btn-warning" ng-click='vm.addRule()'>Add Rule</button>
          </div>
        </div>
        <div class="form-inline actions-container col-md-12 col-sm-12">
          <div class="form-group" ng-hide='vm.survey.type==360'>
            <button type="button" class="btn btn-info btn-lg" ng-click='vm.addTopic()'>Add topic</button>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg submit-btn" ng-click="vm.create()">Save Survey</button>
          </div>
        </div>

      </form>

    </div>
  </div>

</div>
